<launch>
	<node name="clear_img" pkg="image_view" type="image_view" respawn="false" output="screen">
	<remap from="image" to="/droid_main/usb_cam/image_raw" />
	</node>

	<node name="mask_img" pkg="image_view" type="image_view" respawn="false" output="screen">
	<remap from="image" to="/droid_main/mask_img" />
	</node>
</launch>
