<launch>

<arg name="namespace" default="droid_main" />

<group ns="$(arg namespace)">

        <arg name="CAMERA"              value="1"       />
	<arg name="SerialUSB"		value="1"	/>
	<arg name="maintest"		value="1"	/>
<!--
#	<arg name="colourmask"		value="1"	/>
#	<arg name="imgviewer"		value="1"	/>
#	colourmask and imgviewer are left for future use. 
-->
	<group if="$(arg CAMERA)">
                <include file="$(find usb_cam)/launch/usb_cam-test.launch"/>
        </group>

	<group if="$(arg SerialUSB)">
		<include file="$(find beginner_tutorials)/launch/serialusb.launch" />
	</group>

	<group if="$(arg maintest)">
		<include file="$(find beginner_tutorials)/launch/maintest.launch"/>
	</group>
<!--
#	<group if="$(arg colourmask)">
#		<include file="$(find beginner_tutorials)/launch/colourmask.launch"/>
#	</group>

#	<group if="$(arg imgviewer)">
#		<include file="$(find beginner_tutorials)/launch/imgviewer.launch"/>
#	</group>
-->
</group>
</launch>
